/* Fuentes */
@font-face {
    font-family: 'DogiCaPixel';
    src: url('../fonts/dogicapixelbold.ttf') format('truetype');
}


/* Estilos globales */
body {
    background-color: #f4f1e3;color: #F2836B; /* Light orange for general text */font-family: 'Roboto', sans-serif;
}

.icon {
    width: 50px; /* Adjust as needed */
    height: auto;
}



/* Tipografía */
h1, h2 {
    color: #BF3952; /* Darker red for headings */
}

.custom-title {
    font-family: 'DogiCaPixel', sans-serif;
    color: #D96459; /* Lighter red for titles */
}

/* Sección Hero */
.hero {
    background: url('../img/background.jpg') no-repeat center center/cover;
    min-height: 91vh; /* 150% de la altura visible */
    padding: 100px 0;
    color: white;
    display: flex;
    align-items: center; /* Centrar contenido verticalmente */
    justify-content: center; /* Centrar contenido horizontalmente */
    position: relative;
    margin-top: 9vh;
}

.hero .container {
    position: relative;
    z-index: 2; /* Sobre las partículas */
}

/* Elementos decorativos */
#snow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1; /* Detrás del contenido */
}

/* Botones */
.btn-danger {
    background-color: #F2836B; /* Light orange for buttons */
    border-color: #BF3952; /* Darker red for button border */
}

.btn-discord {
    background-color: #5865F2;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-discord:hover {
    background-color: #404EED;
    transform: scale(1.05);
}

/* Sección reloj */
#clock {
    font-family: 'DogiCaPixel', sans-serif;
    font-size: 1.2rem;
    color: #F2A07B; /* Suave contraste con el fondo */
    margin-right: 20px;
}

/* Sección Discord */
.discord-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.btn-discord {
    background-color: #5865F2!important;
    color: white!important;
    font-family: 'DogiCaPixel', sans-serif!important;
    padding: 10px 20px!important;
    border-radius: 5px!important;
    text-decoration: none!important;
    transition: all 0.3s ease!important;
}

.btn-discord:hover {
    background-color: #404EED;
    transform: scale(1.05);
}
.discord-logo {
    width: 100px;
    height: auto;
    animation: pulse 2s infinite ease-in-out;
}

.discord-info {
    text-align: center;
}

.discord-chat {
    border: 2px solid #F2836B;
    border-radius: 10px;
    overflow: hidden;
}

/* Footer */
footer {
    background-color: #8C354C; /* Oscuro con tono rojo */
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.social-icon img {
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease;
}

.social-icon img:hover {
    transform: scale(1.2);
}

#Mecanica-container {
    padding-top: 4%;
    margin-bottom: 30px;
}

#Mecanica-title {
    padding-bottom: 3%;
}

.mecanica-item { display: flex; justify-content: space-between; align-items: center; margin-bottom: 40px; gap: 20px; border-bottom: 1px solid #ddd; padding-bottom: 20px; }

.mecanica-text {
    flex: 1;
    padding-right: 20px;
    padding-left: 20px;

}

.mecanica-text h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}

.mecanica-text p {
    font-size: 16px;
    text-align: left;
    color: #a7a3a3;
}

.mecanica-img { flex: 1; text-align: center;}

.mecanica-img img { max-width: 100%; height: auto; margin: 0 auto; display: block; border-radius: 10px;}

.mecanica-img video { max-width: 100%; height: auto; margin: 0 auto; display: block; border-radius: 10px;}


/* Animaciones */
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
}

/* Paginado */

  
/* Estilos para la descarga integrada */
.download-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.download-img {
    width: 120px;
    height: auto;
}

.discord-info .btn-danger {
    font-family: 'DogiCaPixel', sans-serif;
    font-size: 18px;
    padding: 10px 30px;
    transition: all 0.3s ease;
}

.discord-info .btn-danger:hover {
    background-color: #BF3952;
}


.txt{font-family: 'DogiCaPixel', sans-serif; font-size: 1.2rem; color: #fff; margin-right: 20px; text-decoration: none;}
.txt-link:hover { color: #F2836B!important;}
.marginNav{margin-bottom: 10vh;}
.bg-img{ position: fixed; background: url('../img/background.jpg') no-repeat;  background-size: cover;filter: blur(8px); top: 0; left: 0; width: 100%; height: 100%;z-index: -1;}
.icon-nav{display: inline-block; background-color: rgba(0, 0, 0, 0.1); border-radius: 50%; padding: 10px;}
.bg-base{width: 80%; max-width: 900px; margin: 50px auto; padding: 20px; background-color: #fff; border-radius: 10px; position: relative;}
.base-blur{ background-color: rgb(255, 255, 255,0.8)!important}

.diario {width: 80%; max-width: 900px; margin: 50px auto; padding: 20px; background-color: #fff!important; border-radius: 10px; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); border: 1px solid #d3b59d; position: relative;}
.historia {margin-bottom: 40px;font-size: 1.2em;line-height: 1.6;color: #4f4f4f;text-align: justify;}
.title-content { font-family: 'Courier Prime', monospace; font-weight: bold; color: #7a5c42;}
.contenido { font-family: 'Courier Prime', monospace; font-size: 1.1em;color: #3a2f29; }
.diario:before { content: ""; position: absolute;top: 20px;left: 20px;right: 20px;bottom: 20px;border: 2px dashed #6c4f3d;pointer-events: none;}

.accordion-button:focus { box-shadow: none !important; outline: none !important;}
.accordion-button:not(.collapsed) { background-color: transparent !important; color: #333 !important; border: none !important; }
.accordion-button.collapsed { background-color: transparent !important; color: #333 !important; border: none !important; }
.accordion-button::after { color: #333 !important; }
.accordion-button:not(.collapsed)::after { color: #333 !important; }
.slick-slide img {width: 100%; height: auto; object-fit: cover; border-radius: 10px;}

.community{ background-color: rgb(33, 37, 41, 0.9)}
