/* Estilos para el cuerpo de la p치gina */
@font-face {
    font-family: 'FuentePixelArt'; /* Nombre personalizado para la fuente */
    src: url('Fuentes/dogicapixel.ttf') format('truetype'); /* Ruta y formato del archivo .ttf */
    font-weight: normal;  /* Puedes ajustar el peso (normal, bold, etc.) */
    font-style: normal;   /* Cambia a italic si necesitas */
}

#LogoTopSite{
    width: 20em;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.SlidderMenu {
    display: flex;
    justify-content: space-between; 
    padding: 1em;
    position: relative; 
    background: linear-gradient(45deg, #8D2D5D, #CB625C, #AF5151, #DE8366);
    color: white;
}

.SlidderMenu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(119, 91, 78, 0.33); /* #775B4E con 33% de opacidad */
}

/*Hacer que no le aplique el difuminado a la foto del logo*/
#LogoTopSite {
    position: relative; 
    z-index: 2; 
}

#fecha {
    font-family: 'FuentePixelArt', sans-serif;
    text-shadow: 0px 23px 20px black;
    font-size: 1.5em;
    position: relative;
    z-index: 1;
}

.Slidder {
    font-family: 'FuentePixelArt', sans-serif;
    background-image: url("./img/background.jpg");
    display: flex;  
    align-items: center; 
    justify-content: center; /* Centra horizontalmente */
    
}

/* CSS del Bot칩n */
#btDescargar {
    background-color: #4CAF50;
    color: white;   
    border: none;
    padding: 1em 2em;
    font-size: 1em;
    font-family: 'FuentePixelArt', sans-serif;
    border-radius: 0.5em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

/* Efecto hover para el bot칩n */
#btDescargar:hover {
    background-color: #45a049;
    transform: translateY(-2px);
    box-shadow: 0 0.4em 0.6em rgba(0, 0, 0, 0.15);
}

/* Efecto activo cuando se presiona el bot칩n */
#btDescargar:active {
    background-color: #3e8e41;
    transform: translateY(1px);
    box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.2);
}

.SlidderApartados {
    width: 50%;
    height: 100%;
    
  }

.SlidderApartados p {
    margin-top: 6em;
    margin-bottom: 6em;
}

.CajaDescargar {
    width: 50%; 
    height: 100%;
}

.DescargarContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 1.5em;
    padding: 1em;
    opacity: 0.33;
}

#LogoXP {
    width: 50%;
    margin-bottom: 0.5em;
}

.ContenidoMecanica{
    display: flex;  
    align-items: center; 
    justify-content: center;
}

.ContenidoMecanica img {
    justify-content: center;
}

/* Provisonal */
#Sinopsis {
    padding-bottom: 4em;
}

#Contacto {
    padding-bottom: 4em;
}

#QuienesSomos {
    padding-bottom: 4em;
}

a {
    text-decoration: none;
    color: black;
}